* {
  font-family: Arial, Helvetica, sans-serif;
  // background-color: rgb(216, 216, 216);
}

.rankingsRow {
  display: grid;
  margin-top: .5%;
  margin-bottom: .75%;
  padding: .75%;
  // margin-bottom: 1px solid #333;
  border-bottom: 1px solid rgb(232, 232, 232);
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.header {
  font-weight: 900;
  // margin-top: 5%;
}

.matchBtn {
border: none;
font-weight: 700;
color: white;
padding: 1.5%;
margin-left: 5%;
background-color: rgb(254, 138, 49);
}

.matchBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 111, 0)
}

.loginForm {
  display: grid;
  align-content: center;
  margin: 10% auto 5% auto;;
  align-items: center;
  grid-template-columns: 1fr;
  width: 50%;
}

.userInput {
  margin: 1.5% 0 2% 0;
  outline: none;
  border: 1px solid rgb(255, 111, 0);
  padding: .25%;
  background: rgba(0, 0, 0, 0);
  background-color: none;
  height: 60%;
  font-size: 16px;
}

.userInput:focus {
  outline: none;
}

.title {
  font-size: 5rem;
  text-align: center;
  color: rgb(255, 111, 0)
}

.loginBtn {
  margin-top: 5%;
  width: 100%;
  height: 50%;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgb(254, 138, 49)
}

.loginBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 111, 0)
}

.signupBtn {
  margin-top: 4%;
}