$main-orange: rgb(255, 111, 0);
$main-gray: rgb(97,97,97);

* {
  font-family: Arial, Helvetica, sans-serif;
  color: $main-gray;
  // background-color: rgb(216, 216, 216);
}

.rankingsRow {
  display: grid;
  margin-top: .5%;
  margin-bottom: .75%;
  padding: .75%;
  // margin-bottom: 1px solid #333;
  border-bottom: 1px solid rgb(232, 232, 232);
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.header {
  font-weight: 900;
  // margin-top: 5%;
}

.matchBtn {
border: none;
font-weight: 700;
color: white;
padding: 1.5%;
margin-left: 5%;
background-color: rgb(254, 138, 49);
}

.matchBtn:hover {
  cursor: pointer;
  background-color: $main-orange;
}

.loginForm {
  display: grid;
  align-content: center;
  margin: 10% auto 5% auto;;
  align-items: center;
  grid-template-columns: 1fr;
  width: 50%;
}

.userInput {
  margin: 1.5% 0 2% 0;
  outline: none;
  border: 1px solid $main-orange;
  padding: .25%;
  background: rgba(0, 0, 0, 0);
  background-color: none;
  height: 60%;
  font-size: 16px;
}

.userInput:focus {
  outline: none;
}

.title {
  font-size: 5rem;
  text-align: center;
  color: $main-orange
}

.loginBtn {
  margin-top: 5%;
  width: 100%;
  height: 50%;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgb(254, 138, 49)
}

.loginBtn:hover {
  cursor: pointer;
  background-color: $main-orange
}

.signupBtn {
  margin-top: 4%;
}

.inviteBtn {
  background-color: rgb(254, 138, 49);
  color: white;
}

.action-container {
  padding: 30px;
}

.left-actions {
  float: left;
  width: 50%;
}

.right-actions {
  float: right;
  width: 50%;
}

.action-title {
  font-size: 18px;
  color: $main-gray;
  padding-top: 10px;
}

.action-box {
  border: solid $main-orange 1px;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
}

.action-text {
  color: $main-gray;
}

.action-object {
  font-weight: bold;
}

.invite-action-object {
  font-weight: bold;
  padding: 5px;
}

.action-button {
  margin: 3px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #616161;
	display:inline-block;
	cursor:pointer;
	color:#ff6f00;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.action-button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.action-button:active {
	position:relative;
	top:1px;
}

        